<p style="color: green"><%= notice %></p>
<div id="recipes">
  <div class="container">
    <h1>Recipes</h1>  
    <%= link_to "New Recipe", new_recipe_path, :class => "btn btn-primary"  %>


    <div class="row pt-5">
      <% @recipes.each do |recipe| %>
      <div class="col-md-3">
        <div class="recipe-card">
          <%= image_tag recipe.image.url, class: "recipe-show" if recipe.image? %>
          <%= render recipe %>
          <p>
            <%= link_to "Show this recipe", recipe, :class => "btn btn-primary" %>
          </p>
        </div><!-- recipe--card-->
      </div><!-- col-md-3-->
      <% end %>
    </div><!-- row -->
  </div><!-- container-->
</div>

