<!DOCTYPE html>
<html>
  <head>


    <title>RecipeApp7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded"> 

  <%= link_to "Recipe App", root_path, class: 'navbar-brand' %>

 

    <ul class="navbar-nav navbar-right">

      <li><%= link_to "About", pages_about_path %></li>

    </ul>

</nav>
    <%= yield %>
  </body>
</html>
